<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.study.order.mapper.OrderMapper">
	<!-- 开启二级缓存 -->
	<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

	<!-- 新增 -->
	<insert id="add" parameterType="io.study.order.OrderInfo">
		insert into order_info (
			<if test="userId != null">user_id, </if>
			<if test="userName != null">user_name, </if>
			<if test="amount != null">amount, </if>
			<if test="status != null">status, </if>
			id, create_time, modify_time, dr
		) values (
			<if test="userId != null">#{userId}, </if>
			<if test="userName != null">#{userName}, </if>
			<if test="amount != null">#{amount}, </if>
			<if test="status != null">#{status}, </if>
			#{id}, now(), now(), 1
		)	
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="io.study.order.OrderInfo">
		update order_info
		<set>
			<if test="userId != null">user_id = #{userId}, </if>
			<if test="userName != null">user_name = #{userName}, </if>
			<if test="amount != null">amount = #{amount}, </if>
			<if test="status != null">status = #{status}, </if>
			modify_time = now()
		</set>
		where id = #{id}
	</update>
	
	<!-- 删除 -->
	<update id="remove" parameterType="java.lang.String">
		update order_info set dr = 0, modify_time = now() where id = #{id}
	</update>
	
	<!-- 恢复 -->
	<update id="revert" parameterType="java.lang.String">
		update order_info set dr = 1, modify_time = now() where id = #{id}
	</update>
	
	<!-- 通用查询条件 -->
	<sql id="whereSql">
		<if test="userId != null and userId != ''">
			and user_id like concat('%', #{userId}, '%')
		</if>
		<if test="userName != null and userName != ''">
			and user_name like concat('%', #{userName}, '%')
		</if>
		<if test="amount != null">
			and amount = #{amount}
		</if>
		<if test="status != null and status != ''">
			and status like concat('%', #{status}, '%')
		</if>
			and dr = 1
	</sql>
	
	<!-- 根据主键查询 -->
	<select id="queryById" parameterType="java.lang.String" resultType="io.study.order.OrderInfo">
		select * from order_info where id = #{id} and dr = 1
	</select>
		
	<!-- 条件查询单个对象 -->
	<select id="queryOne" parameterType="io.study.order.OrderInfo" resultType="io.study.order.OrderInfo">
		select * from order_info where 1=1 <include refid="whereSql"/> limit 0,1
	</select>
	
	<!-- 条件查询 -->
	<select id="queryList" parameterType="io.study.order.OrderInfo" resultType="io.study.order.OrderInfo">
		select * from order_info where 1=1 <include refid="whereSql"/>
	</select>
	
	<!-- 条件查询总数量 -->
	<select id="queryCount" parameterType="io.study.order.OrderInfo" resultType="java.lang.Long">
		select count(id) from order_info where 1=1 <include refid="whereSql"/>
	</select>
	
</mapper>